.button{
    display:inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: $mainYellow;
    background-color: $mainBlue;
    padding: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: .125rem solid $mainYellow;
    border-radius: 30px;
    user-select: none;
    
    &:hover {
        color: $mainLight;
        border: .125rem solid $mainLight;
    }


    a {
        color: inherit;
        text-decoration: inherit;
    }

}