* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    background-color: black;
}

body {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    background-color: $mainBlue;
    min-height: 100vh;
}