* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    background-color: black;
}

body {
    position: relative;
    max-width: 400px;
    margin: auto;
    background-color: $mainBlue;
    min-height: 100vh;
}

main {
    margin-left: .7rem;
    margin-right: .7rem;
}

.main-center {
    display:flex;
    flex-direction:column;
    align-items:center;
}